@use 'helpers' as *;

:root {
    --color-light: #ffffff;
    --color-dark: #141414;
    --color-dark-10: #1a1a1a;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;
    --color-grey-50: #7e7e81;
    --color-grey-60: #98989a;
    --color-accent: #ffd11a;
    --color-red: #ff5500;
    --color-muted-red: #ba3c3c;
    --border: #{rem(1)} solid var(--color-dark-15);
    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: 'Kumbh Sans', sans-serif;
    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};
    --transition-duration: 0.2s;
    --shadow: 0 0 0 #{rem(3)} #191919;
    --banner-image: url('/images/blog-details/bg.jpg');
    --color-overlay: rgb(20 20 20 / 65%);
    --drawer-transition-duration: 0.3s;
    --drawer-transition-timing-function: ease-out;
    @include laptop {
        --container-width: #{rem(1280)};
    }
}
