
@use '../helpers' as *;


.advantage-card {
    --iconCardSize: #{rem(50)};
  
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  
    &__icon {
      width: var(--iconCardSize);
    }
    @include laptop {
        --iconCardSize: #{rem(40)};
    }
    @include tablet{
        --iconCardSize: #{rem(30)};
    }
    &__link {
   
  
      display: flex;
      flex-direction: column;
      row-gap: rem(4);
      position: relative;
  
     
  
      
    }
    &__details{
        @include fluid-text(16, 20);
        font-family: var(--font-family-accent);
    }
  }