@use '../helpers' as *;


.badge{
    @include fluid-text(12,16);
    color: var(--color-light);
    padding-block: rem(4);
    padding-inline: rem(12);
    display: inline-flex;
    align-items: center;
    border-radius: rem(6);
    border: rem(1) solid transparent;
    background: 
    linear-gradient(var(--color-dark-10),var(--color-dark-10)) padding-box,
    linear-gradient(
        45deg,
        var(--color-dark-15) 64%,
        var(--color-accent) 136% 
    ) border-box;
    @include laptop {
        padding-block: rem(2);
        padding-inline: rem(10);
        border-radius: rem(4);
    }
}