@use '../helpers' as *;
.button{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: var(--border);
   border-radius: rem(12);
   padding: rem(18)  rem(24);
   background-color: transparent;
   font-size: rem(18);
   color: var(--color-grey-60);
   white-space: nowrap;

   @include laptop {
    padding: rem(14) rem(20);
    font-size: rem(14);
    border-radius: rem(8);
   }
   @include hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
    background-color: var(--color-dark-10);
   }
   &--accent{
    color: var(--color-dark);
    background-color: var(--color-accent);
    font-weight: 500;
    min-width: rem(137);
    @include laptop{
      min-width: rem(103);
      }
   }

}