@use '../helpers' as *;
.download-info {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    column-gap: rem(50);
    align-items: center;
    @include laptop {
        column-gap: rem(30);
    }
    &__team{
        --personImageSize:#{rem(50)};
       
        @include laptop {
            --personImageSize:#{rem(40)};
        }
    }
}
