@use '../helpers' as *;

.footer{
    color: var(--color-dark-40);
    &__body{
        padding-block: fluid(40, 80);
        border-bottom: var(--border);
    }
    &__menu{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: fluid(20, 80);
        align-items: start;
        @include tablet{
            grid-template-columns: repeat(2,1fr);
            row-gap: rem(40);
        }
        @include mobile{
            row-gap: rem(20);
        }
        &-main-link{
            font-weight: 500;
        }
        &-column{
            display: grid;
            row-gap: fluid(16, 36);
            &:last-child{
               @include tablet{
                grid-column: -1 / 1;
                .footer__menu-list{
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: rem(12);
                }
               }
            }
        }
        &-list{
            display: flex;
            flex-direction: column;
            row-gap: fluid(8, 16);
        }
        &-item{
            display: flex;
            align-items: center;
            column-gap: rem(8);
        }
       
    }
    &__extra{
        padding-block: rem(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include laptop{
            padding-block: rem(24);
        }
        @include mobile{
            flex-direction: column;
            row-gap: rem(20);
        }
        &-menu{
            &-list{
                
                    display: flex;
                   
        
                
            }
            &-item:not(:last-child)::after{
                content: '|';
                margin-inline: rem(11);
                
            }
                


            
        }
    }
}