@use '../helpers' as *;
.person-card{
    --personCardImageSize:#{rem(80)};
    &__image{
        border-radius: 50%;
        background-color: var(--color-dark-15);
        width: var(--personCardImageSize);
        @include laptop {
            --personCardImageSize:#{rem(60)};
            width: var(--personCardImageSize);
        }
       
    }
    &__body{
        display: grid;
        @include laptop-above{
            row-gap: rem(2);
        }
    }
    &__name{
        font-size: rem(20);
        color: var(--color-light);
        font-weight: 600;
        @include laptop {
            font-size: rem(18);
        }
    }
    &__topic{
        @include fluid-text (14,18);
        color: var(--color-grey-60);
    }
   
}