@use '../helpers' as *;

.rating-view {
    display: inline-flex;
    column-gap: rem(7);
    padding-block: rem(10);
    padding-inline: rem(16);
    border-radius: rem(100);
    border: var(--border);
    background-color: var(--color-dark);
    @include laptop {
        column-gap: rem(4);
        padding-block: rem(8);
        padding-inline: rem(12);
    }
    &__star {
        --size: #{rem(24)};
        @include square(var(--size));
        background: url('/icons/icon-star.svg') center/contain no-repeat;

        &.is-active {
            background-image: url('/icons/yellow-star.svg');
        }
        @include laptop {
            --size: #{rem(20)};
        }
    }
}
