@use '../helpers' as *;

.resources-preview{
    display: flex;
    row-gap: rem(30);
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    @include tablet {
        padding-top: rem(100);
    };
   
    &__button{
        column-gap: rem(4);
        @include mobile-s {
            width: 100%;
            
        }
    }
}