@use '../helpers' as *;

.section{
    &__header{
        
        background-color: var(--color-dark-10);
        padding-block: fluid(40, 120);
        &-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
       
    }
    &__body{
        border-block: var(--border);
    }
   
}