@use '../helpers' as *;
.summary{
    &--2-cols{
        .summary{
            &__list{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                row-gap: rem(30);
                column-gap: rem(20);
                @include laptop{
                    row-gap: rem(20);
                }
            }
            &__item{
                &--wide{
                    grid-column: -1 / 1;
                    margin-top: rem(20);
                   
                    row-gap: fluid(10,16);
                }
            }
            
        }
    }
    &__list{
        display: flex;
       column-gap: fluid(20,50);
    }
    &__value{
        color: var(--color-light);
    }
}